body {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0f172a;
  font-family: Arial, sans-serif;
}

.card {
  background: #1e293b;
  color: white;
  padding: 30px;
  border-radius: 12px;
  width: 400px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.box {
  text-align: left;
  margin: 20px 0;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background: #22c55e;
  color: white;
  cursor: pointer;
}

.btn:hover {
  background: #16a34a;
}